body{
    font-family: helvetica;
}
.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 2em;
    text-indent:1em;
 }   
main{
    margin: 6%;
    padding-right: 20%;
    border: 20px;
}
#download{
   background:#2980B9 ;
   border-radius: 8px; 
   color: white;
   font-size: 35px;
   outline:none;
    border: 10px;
}
footer{
    text-align: center;
    font-size:12px;
}
form{
    text-align:justify;
    display:inline-block;
    width: 340px;
    height:510px;
    padding:30px;
    background-color:#E5E7E9;
    border: 10px;
    border-radius:15px;
}
input[type="text"],input[type="email"],textarea{  
    width: 280px;
    outline: none;
    border: 10px;
    border-radius:8px;
    padding:8px;
    font-size:14px;
}
input[type="submit"]{
    width: 280px;
    padding:10px;
    outline: none;
    border: 10px;
    border-radius:8px;
    background: blue;
    color:white;
}

